.new-tweet {
  width: 100%;
  margin-bottom: 1em;
  margin-top: 2em;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.new-tweet-form {
  width: 100%;
}

#tweet-text {
  width: 100%;
  height: 1.5em;
  margin-top: 1em;
  background: transparent;
  border: none;
  outline: none;
  resize: none;
  font-size: 0.8em;
  font-weight: bold;
}


.new-tweet-under {
  width: 100%;
  border-top: 0.2em solid #545149;
  font-family: 'Bungee', cursive;

  display: flex;
  justify-content: space-between;
  padding-top: 0.6em;
}

#tweet-submit-button {
  background: #4056a1;
  color: #f4f1ec;
}

#tweet-submit-button:hover {
  background-color: green;
  transition: 0.3s;
  cursor: pointer;
}


.counter.number-neg {
  color: red;
}

.new-tweet-error {
  color: red;

  display: flex;
  align-items: center;


}